.DS_Store
.scannerwork
.idea
*.txt
*.iml
target
.metals
.env
.vscode
.scalafmt
node_modules
.scalafmt.conf
.bloop
project/metals.sbt
deps.txt
resolvers.txt
/bazel-*

.bsp
api-client/openapi.yaml
/.sdkmanrc
