name: build

on: [push]

jobs:

  server:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v1

      - uses: actions/cache@v1
        with:
          path: ~/.cache/coursier/v1
          key: ${{ runner.os }}-coursier-${{ hashFiles('**/build.sbt') }}

      - name: Set up java
        uses: actions/setup-java@v2.1.0
        with:
          distribution: 'adopt'
          java-version: 11
          java-package: jre

      - name: Build
        run: ./sbt compile

      - name: Build binary (GraalVM native-image)
        run: ./sbt nativeImage

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v1
#        with:
#          image: tonistiigi/binfmt:latest
#          platforms: all

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pack docker image
        run: docker buildx build --platform linux/amd64,linux/arm64 --push -t markdj/zio-seed-rest-server .